@model ExampleB.Models.Dish
@using ExampleB.Controllers
@{
    ViewBag.Title = "DeleteDish";
   // Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}
<div class="separator">
    Add Dish
</div>
<div class="container body-content">
    @using (Html.BeginForm("AddDish", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Сalories, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Сalories, new { htmlAttributes = new { @class = "form-control", @min = 1 } })
                    @Html.ValidationMessageFor(model => model.Сalories, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="file" name="image1" id="file-1" class="inputfile inputfile-1 " data-multiple-caption="{count} files selected" multiple />
                <label for="file-1" style="margin-left:20px"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>Choose a file&hellip;</span></label>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Contains_Meat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Contains_Meat, new { @class = " check" })
                        @Html.ValidationMessageFor(model => model.Contains_Meat, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Contains_Milk, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Contains_Milk, "", new { @class = " check" })
                        @Html.ValidationMessageFor(model => model.Contains_Milk, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Contains_Sugar, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Contains_Sugar, new { @class = " check" })
                        @Html.ValidationMessageFor(model => model.Contains_Sugar, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    @Html.ActionLink("Back to List", "ShowDish")
</div>
@Scripts.Render("~/Scripts/AddFile.js")
<style>
    input[name *= 'Cont'] {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        left: 30px;
    }

    input[name *= 'image1' ] {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        width: 100%;
    }
</style>
