<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Fit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Content/Main.css">
</head>
<body id="body">
    <div id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LifeCalc", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    @{
                        if (!Request.IsAuthenticated && !User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(@HttpContext.Current.User.Identity.Name + " " + "Log out", "SingOut", "Account")</li>
                        }
                        if ( @HttpContext.Current.User.Identity.Name.Contains("deonisij"))
                        {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        }
                    }
                    <li>@Html.ActionLink("My cabinet", "Index", "User")</li>
                </ul>

            </div>
        </div>
    </div>
    <!-- <div class="container body-content"> -->
    @RenderBody()
    <hr />
    <footer class="footer">
        <div class="footer__top">
            <ul class="footer__social">
                <li class="footer__social-list">
                    <a class="footer__socical-link" href="#">
                        FACEBOOK
                    </a>
                </li>
                <li class="footer__social-list">
                    <a class="footer__socical-link" href="#">
                        TWITTER
                    </a>
                </li>
                <li class="footer__social-list">
                    <a class="footer__socical-link" href="#">
                        GOOGLE+
                    </a>
                </li>
                <li class="footer__social-list">
                    <a class="footer__socical-link" href="#">
                        BEHANCE
                    </a>
                </li>
                <li class="footer__social-list">
                    <a class="footer__socical-link" href="#">
                        INSTAGRAM
                    </a>
                </li>
                <li class="footer__social-list">
                    <a class="footer__socical-link" href="#">
                        DRIBBLE
                    </a>
                </li>
            </ul>
            <div class="footer__contact">
                <adress class="adress">
                    Ukraine, Kharkiv st. Tobolskaya, 63
                </adress>
                <a class="phone" href="tel:+3806765252222">(38067) 65 252 222</a>
                <a class="email" href="mailto:info@mail.com">info@mail.com</a>
            </div>
            <a class="go-top" href="#body">
                <img src="~/Img/angle-up.svg" alt="arrow-top">
            </a>
        </div>

        <div class="footer__copy">
            <p>2020 O...Marketing</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js "></script>
    <script src="~/Scripts/Slider.js"></script>
    <script>
        $(" .go-top").on("click", function (event) {
            event.preventDefault();
            var id = $(this).attr('href'),
                top = $(id).offset().top;
            $('body,html').animate({ scrollTop: top }, 1500);
        });
        $('a[href="#OtherDiet"]').on("click", function (e) {
            e.preventDefault();
            var targetOffset = $('div[name="OtherDiet"]').offset().top;
            $('body,html').animate(
                { scrollTop: targetOffset },
                1000
            );
        });
        $(function () {
            $("#products").chosen();
        });
    </script>
</body>
    </html>
