@model IEnumerable<ExampleB.Models.Dish>
@using ExampleB.Controllers
@{ 
    string DisplayContains(bool item)
    {
        if (item)
        {
            return $"Yes";
        }
        return $"No";
    }
}
<div class="separator">
    Dishes
</div>
<section id="Chosen_dish">
    @{if (ViewBag.Basket != null) {
            foreach (var item in (IEnumerable<ExampleB.Models.Dish>)ViewBag.Basket)
            {
        <div class="BlockD" id="dish_@item.id">
            <div>@Html.Image(item.Img, new { @class = "or" }) </div>
            <div><p style="text-align:center;"> @item.Name</p></div>
            <div><p>Calories @item.Сalories</p></div>

            <p>Contains glucose @DisplayContains(Convert.ToBoolean(item.Contains_Meat))</p>

            <p>Contains lactose @DisplayContains(Convert.ToBoolean(item.Contains_Milk))</p>

            <p>Contains sugar @DisplayContains(Convert.ToBoolean(item.Contains_Sugar))</p>

            <input type="button" name="button1" id="Button_@item.id" value="Delete" style="background: red;" />
        </div>

                }
            }

        }

</section>
<div class="separator">
   Add Dish
</div>
<section id="dish">
    <div class="content">

        @foreach (var item in Model)
        {
            

                
        <div class="BlockD" id="dish_@item.id">
            <div>@Html.Image(item.Img, new { @class = "or" }) </div>
            <div><p style="text-align:center;"> @item.Name</p></div>
            <div><p>Calories @item.Сalories</p></div>

            <p>Contains glucose @DisplayContains(Convert.ToBoolean(item.Contains_Meat))</p>

            <p>Contains lactose @DisplayContains(Convert.ToBoolean(item.Contains_Milk))</p>

            <p>Contains sugar @DisplayContains(Convert.ToBoolean(item.Contains_Sugar))</p>


            <input type="button" name="button1" id="Button_@item.id" value="Add"  style="background:#2BAA65;" />
        </div>
        }

    </div>
 
</section>
    <style>

        #Chosen_dish, .content {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        input[type*='butt'] {
            border:none;
            width: 100%;
            height: 50px;
            border-radius: 30px;
            color:white;
        }
        .BlockD {
            margin:20px;
            padding:10px;
            border-radius: 20px;
            height: 370px;
            width: 300px;
            background: #F7F7F7;
        }
        .BlockD input{
           display:block;
        }
        .or {
        
            height: 150px;
            width: 100%;
        }
    </style>
